@import '../../styles/partials/animation';

.chief-section{
  margin-bottom: 3vw;
};


.chief-section__title{
margin-bottom: 2em;
};

.chief-section__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1.5em;
}